.playersList {
  position: absolute;
  max-height: 165px;
  width: 145px;
  border: 1px solid black;
  overflow: scroll;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgb(200 105 34);
  color: white;

  .selectPlayer {
    padding: 5px 0;
    border-bottom: 1px solid rgb(213, 213, 213);

    &:hover {
      background-color: rgb(183, 183, 183);
    }
  }
}
